@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Poppins",sans-serif;
}
body{
    /* background-color:#dfe9f5; */
    background-image: url("bg-1.jpg");
}
.wrapper{
    width:330px;
    padding:2rem 1rem;
    margin:50px auto;
    background-color:#fff;
    border-radius:10px;
    text-align:center;
    box-shadow: 0 20px 35px rbga(0,0,0,0.1);
}

h1{
    font-size:2rem;
    color:#07001f;
    margin-bottom:1.2rem;
}

form input{
    width:92%;
    outline:none;
    border:1px solid #fff;
    padding:12px 20px;
    margin-bottom:10px;
    border-radius:20px;
    background:#e4e4e4;
}

button{
    font-size:1rem;
    margin-top:1.8rem;
    padding:10px 0;
    border-radius:20px;
    outline:none;
    border:none;
    width:90%;
    color:#fff;
    cursor:pointer;
    background:rgb(17,107,143);
}
button:hover{
    background:rgba(17,107);
}
input:focus{
    border:1px solid rgb(192,192,192);
}
.member{
    font-size:0.8rem;
    margin-top:1.4rem;
    color :#636363;
}
.member{
    color :rgb(17,107,145);
    text-decoration:none;
}