body{
    /* background: rgb(9, 194, 223);
    background: linear-gradient(90deg, rgb(83, 78, 170) 3%, rgba(85, 199, 132, 0.967) 35%, rgb(65, 154, 172) 100%); */
   background-color: #D6E4E5;
   background-image: url("bg-1.jpg");
}

.form-control{
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table{
    border: 1px solid;
    border-color: black;
    padding-left: 50px;
    padding-right: 50px;
}

tr,td{
    text-align: center;
}
